
<section id="dentario">
  <div class="container">
    <div class="col-xs-12 titolo">
      <h3>{{dentale.titolo}}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id dui vitae ligula efficitur scelerisque. Nulla pulvinar sapien non accumsan posuere. Duis a ex blandit, congue lacus id, sollicitudin augue. Praesent posuere, lacus vel gravida commodo, enim sapien porta quam, vitae malesuada nisi metus id tortor. Etiam aliquet lobortis imperdiet. Sed non lacus sit amet augue dictum elementum. Cras dapibus ex leo, a ultrices libero congue in. Suspendisse vulputate sed sapien quis viverra. Duis varius mauris ac ante fringilla, vitae imperdiet leo consequat. Nulla neque enim, euismod at hendrerit vel, sollicitudin sit amet arcu. Fusce hendrerit faucibus facilisis. Proin sed elit ex. Suspendisse in augue enim. Aenean aliquet at nisi ac vestibulum. Donec ultrices, lorem ac hendrerit pretium, arcu risus molestie sapien, et efficitur orci velit ut sem. Fusce tempor metus vitae egestas vestibulum.<br><br>

        Nullam quis tortor sit amet diam maximus dictum. Nullam congue mauris sit amet ipsum facilisis, in lobortis mauris tincidunt. Sed id dui tellus. Aenean ultrices maximus bibendum. In varius eros ut metus dignissim, ornare pharetra ipsum pulvinar. Nam porta eget sem nec aliquet. Duis quis ex sem. Donec sed eros id orci molestie bibendum eu non urna. Etiam auctor vehicula ultrices. Sed nulla nunc, vulputate ut mollis in, laoreet id ante. Ut hendrerit purus vel tellus convallis consequat.
      </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      {% include 'componenti/flexsliderdentist.html' %}
      <br>
    </div>
  </div><!-- container -->
</section>